<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Vet Animals</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Animals</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Accepted</th>
            <th>Visit Profile</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal : ${animals}">
            <td th:text="${animal.name}">Name</td>
            <td th:text="${animal.species}">Species</td>
            <td th:text="${animal.breed}">Breed</td>
            <td th:text="${(animal.ageYears != null ? animal.ageYears : 0) + 'y ' + (animal.ageMonths != null ? animal.ageMonths : 0) + 'm'}">Age</td>
            <td th:text="${animal.sex}">Sex</td>

            <td>
                <span th:if="${animal.accepted}" class="badge bg-success">Accepted</span>
                <span th:if="${!animal.accepted}" class="badge bg-danger">Not yet accepted</span>
            </td>

            <td>
                <a th:href="@{/animal/{id}(id=${animal.id})}" target="_blank">Visit profile</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>